.DS_Store

application/config/database.php
application/config/constants.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
assets/uploads/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
assets/images/albums/*

# IDE Files
#-------------------------

.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
