<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
		RewriteCond $1 !^(index\.php|assets/images/*|assets/js/*|assets/uploads/*|assets/css/*|robots\.txt)
		RewriteRule ^(.*)$ /index.php/$1 [L]
        # Removes index.php from ExpressionEngine URLs
        RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
        RewriteCond %{REQUEST_URI} !/system/.* [NC]
        RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

        # Directs all EE web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

<Files composer*>
	Order Deny,Allow
	Deny From All
</Files>


# Allow asset folders through
# Protect application and system files from being viewed
RewriteRule ^(application/.+|system/.+\.git.+|migrations/.+|migrations.yml) - [F,L]