/* 
**** reset css
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-width: 100%;
}
a{
	color:inherit;
}

/*
**** common styles
*/
html,
body{
	min-height: 100%;
	height: 100%;
}

body{
	background: #fff;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 16px;*/
}
*{
	box-sizing:border-box;
}
.container-fluid{
	/*max-width: 1300px;*/
}

/* 
**** helper classes
*/
.height-100{
	height: 100%;
}


/* 
**** blocks
*/
.b_page-wrap{
	position: relative;
}

.b_page-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	color:#fff;
	padding: 5px 0;
}

.b_page-nav_list{

}
.b_page-nav_list ul{
	margin: 0;
}
.b_page-nav_list ul li{
	display: inline-block;
}
.b_page-nav_list ul li a{
	color:inherit;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	/*font-weight: bold;*/
	font-size: 1.2em;
}
.b_page-nav_list ul li:first-child a{
	padding-left: 0;
}



.b_sections-container,
.b_page-wrap{
	height: 100%;
}
.b_section-wrap{
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100% !important;
	padding: 20px 40px !important;
}
.b_section-wrap.is-1{
	background-image: url("/assets/images/main/nastya55.jpg");
}
.b_section-wrap.is-2{
	background-image: url("/assets/images/main/tanya_MAIN.jpg");
}
.b_section-wrap.is-3{
	background-image: url("/assets/images/main/masha3.jpg");
}
.b_section-wrap.is-4{
	background-image: url("/assets/images/main/nadia13.jpg");
}
.b_section-wrap.is-5{
	background-image: url("/assets/images/main/masha3.jpg");
}
.b_section-wrap.is-6{
	background-image: url("/assets/images/main/nastya3.jpg");
}