div.main_row{
    height: 1269px;
}

div#first_row{
    background: url("/assets/images/main/logo_krivoe.png") 50% 50% no-repeat;
    background-size: contain;

}

.main_text{
    display: block;
    text-align: justify;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

}

#first_text{
    margin-top: 800px;
    font-size: 36px;
}

span.author{
    color: darkgrey;
    text-decoration: wavy;
    display: block;
    text-align: right;
}

div#second_row{
    background: url("/assets/images/main/nastya55.jpg") 50% 50% no-repeat;
    background-size: contain;
}
div#third_row{
     background: url("/assets/images/main/tanya_MAIN.jpg") 50% 50% no-repeat;
     background-size: contain;

 }

#third_text{
    font-size: 26px;
    color: whitesmoke;
    width: 60%;
}

div#fourth_row{
    background: url("/assets/images/main/masha3.jpg") 50% 50% no-repeat;
    background-size: contain;

}

div#fourth_row{
    background: url("/assets/images/main/nadia13.jpg") 50% 50% no-repeat;
    background-size: contain;

}

div#fifth_row{
    background: url("/assets/images/main/masha3.jpg") 50% 50% no-repeat;
    background-size: contain;

}

#fifth_text{
    font-size: 26px;
    color: darkblue;
    width: 50%;
    margin: 100px 0 0 60%;
}

div#sixth_row{
    background: url("/assets/images/main/nastya3.jpg") 50% 50% no-repeat;
    background-size: contain;

}



#sixth_text{
    font-size: 26px;
    color: whitesmoke;
    width: 50%;
    margin: 100px 0 0 45%;
}

div#seventh_row{
    background: url("/assets/images/main/skleyka_krivo.jpg") 50% 50% no-repeat;
    background-size: contain;
    height: 1430px !important;
}


div#eighth_row{
    background: url("/assets/images/main/nastya8kypalnik.jpg") 50% 50% no-repeat;
    background-size: contain;
}

#eighth_text{
    font-size: 26px;
    color: whitesmoke;
    width: 50%;
    /*margin: 100px 0 0 45%;*/
}

#eighth_row h2{
    color: whitesmoke;
}

#eighth_text .contacts_row{
    margin-top: 20px;
    vertical-align: middle;
}

#eighth_text .contacts_row span{
    margin-right: 10px;
    vertical-align: middle;
}





/* Admin Module */

.admin_container{
    margin-top: 100px;
    background: white;
    border-radius: 10px;
}

/*Uploading Plugin*/
.upload_button{
    padding-bottom: 30% !important;
}

.photo_preview_container{
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: none;
    display: inline-block;
}
.photo_preview{
    width: 100%;
    height: 226px;
    position: relative;

    background: url("img/ajax-loader.gif"), 50% 50% no-repeat;
    /*background-color: #e1e1e1;*/
    background-size: 50%;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    /*border-radius: 10px;*/
    margin-top: 10px;
}

.photo_preview_container .close{
    color: red;
    /*border: 1px red solid;*/
    border-radius: 20px;
    position: absolute;
    padding: 0 2px 2px 2px;
    font-size: 290%;
    right: 12px;
    top: 20px;
    z-index: 1000;
}

.cover_preview_container{
    min-width: 200px;
    width: auto;
    height: 250px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    background: none;
    display: inline-block;
}

.cover_preview{
    width: 269px;
    height: 180px;
    position: relative;
    /*background: url("/assets/images/nopicture.jpg"), 50% 50% no-repeat;*/
    /*background-color: #e1e1e1;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat !important;*/

    border: dashed 1px black;
    border-radius: 10px;
    margin-top: 10px;

}
.cover_preview_container button, #delete_cover, #photos_button, #albumCover, .uploadify-button, .swfupload, #uploadPhotos-button{
    margin-top: 5px;
    width: 100% !important;
    /*height: 20px !important;*/
    line-height: 20px !important;
    /*cursor: pointer !important;*/
}
#uploadPhotos-button{
    height: 20px !important;
    padding-bottom: 30px !important;
}
.loading{
    background-image: url("img/loading.gif") !important;
    background-color: #e1e1e1 !important;
    background-size: contain !important;
}

#album_form div.row{
    margin-bottom: 10px;
}

.admin_album{
    width: 100%;
    height: 227px;
    background-size: contain !important;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;

    display: block;
}

/*.admin_album .btn-group{*/
    /*float: right;*/
/*}*/

.album_title{
    width: 100%;
    padding-top: 20%;
    font-size: 26px;
    text-align: center;
}

.album_description{
    width: 100%;
    padding: 10% 10px 5px 10px;
    font-size: 16px;
    text-align: justify;

}

.unactive_album{
    opacity: 0.5;
}

.black{
    color: #000000;
}

.white{
    color: white;
}

#add_album{
    background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=%D0%94%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%90%D0%BB%D1%8C%D0%B1%D0%BE%D0%BC&w=340&h=228') 50% 50% no-repeat;
    border-radius: 15px;
    /*width: 270px !important;*/
}

#add_album a{
    height: 100%;
    width: inherit;
    display: block;
    background: rgba(255,255,255,0.3);

}

#add_album a:hover{
    background: rgba(255,255,255,0.1);
}

.uploadify_template{
    display: none !important;
}

strong{
    font-weight: bold !important;
}

.btn-white{
    background-color: rgba(0,0,0, 0.7) !important;
    color: #ffffff !important;
    border-color: #000000 !important;
}

.btn-white:hover, .btn-white.active{
    background-color: rgba(0,0,0,1) !important;
}

.btn-black{
    background-color: rgb(232, 232, 232) !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-black:hover, .btn-black.active {
    background-color: rgba(255,255,255,1) !important;
}

#contact_form label.error, #contact_form button.error{
    color: red;
}
#contact_form label.error{
    margin-left: 20px;
}

#contact_form input.error, #contact_form textarea.error{
    border: 1px solid red;
}

#success_sent h1{
    color: green;
    font-size: 150%;
    padding: 30%;
}
